@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
}
.table tr, th,td {
    border: 1px solid gainsboro;
}
.table {
    width: 100%;
}
.table tr th, .table tr td {
    padding: 10px;
}
.table tr:first-child {
    background-color: #3454D1;
    color: #ffffff;
}
.container {
    width: 96%;
    margin-left: 2%;
    padding: 10px;
}
td {
    text-align: center;
}
.box {
    width: 50%;
    margin-left: 25%;
    padding: 20px;
    background-color: lavender;
    border-radius: 20px;
    display: none;
}
.user-inputs{
    display: flex;
    justify-content: space-between;
}
.input-group{
    width: 100%;
}
.group {
    margin-bottom: 12px;
    width: 100%;
}
.group button {
    padding: 12px;
    border: none;
    background-color: #3454D1;
    color: #ffffff;
}

.bxs-trash {
    color: #D1345B;
    margin-left: 20px;
    font-size: 25px;
}
.bx-edit-alt {
    font-size: 25px;
}

.button-add{
    margin: 10px 0 0 50px;
    display: inline-block;
    background: #3454D1;
    padding: 20px 50px;
    cursor: pointer;
}
.button-add button{
    color: #fff;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 1.3rem;
}



.hidden {
    display: none;
}
.icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 32px;
    right: 5px;
    pointer-events: none;
    z-index: 2;
}
.icon.icon-success {
    fill: green;
}
.icon.icon-error {
    fill: red;
}

.label {
    font-weight: bold;
    display: block;
    color: #333;
    margin-bottom: 0.25rem;
    color: #2d3748;
}
input {
    appearance: none;
    display: block;
    width: 100%;
    color: #2d3748;
    border: 1px solid #cbd5e0;
    line-height: 1.25;
    background-color: white;
    padding: 0.65rem 0.75rem;
    border-radius: 0.25rem;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

input.input-error {
    border: 1px solid red;
}
input.input-error:focus {
    border: 1px solid red;
}
input:focus {
    outline: none;
    border: 1px solid #a0aec0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-clip: padding-box;
}
.input-group {
    margin-bottom: 2rem;
    position: relative;
}
.error-message {
    font-size: 0.85rem;
    color: red;
}
.button {
    background-color: blueviolet;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.button:hover {
    filter: brightness(110%);
}
.promo {
    color: white;
    opacity: 0.75;
    margin: 1rem auto;
    max-width: 460px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 0.25rem;
}
.promo a {
    color: white;
}